<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--=============== BOXICONS ===============-->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="<%= css %>">
  <% if (showOthers) { %>
    <%- include('partials/others') %>
  <% } %>
  <title><%= pageTitle %></title>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
  <script src="/firebaseClient.js"></script>
</head>
<body>
  <% if (showTopbar) { %>
    <%- include('partials/topNav') %>
  <% } %>

  <% if (showSidebar) { %>
    <%- include('partials/sideNav') %>
  <% } %>

  <% if (showEditNav) { %>
    <%- include('partials/editNav') %>
  <% } %>

  <%- body %>
  <script src="/assets/js/main.js"></script>
  
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>

  <script>
    const logoutBtn = document.getElementById("logout-btn");
  
    logoutBtn.addEventListener("click", async () => {
      try {
        await firebase.auth().signOut();
        alert("Logout successful!");
        // Redirect to the sign-in page after successful logout
        window.location.href = "/login";
      } catch (error) {
        alert(`Error: ${error.message}`);
      }
    });
  </script>
</body>
</html>
